.navDesk-container{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    z-index: 1000;
}

.navDesk-logo{
    width: 50px;
}

.navDesk-logo img{
    width: 100%;
}

.navDesk-menu ul{
    display: flex;
}

.navDesk-menu ul .link{
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 10px;
    margin: 0 15px;
    cursor: pointer;
    position: relative;
    color: var(--global-text_color);
}

.navDesk-menu ul .link::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 0%;
    height: 0%;
    box-sizing: border-box;
}
.navDesk-menu ul .link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 0%;
    height: 0%;
    box-sizing: border-box;
}

.navDesk-menu ul .link:hover::before{
    border-top: 1px solid var(--global-secondary-color);
    border-left: 1px solid var(--global-secondary-color);
    animation: navItemEffect .7s ease forwards;
}
.navDesk-menu ul .link:hover::after{
    border-bottom: 1px solid var(--global-secondary-color);
    border-right: 1px solid var(--global-secondary-color);
    animation: navItemEffect .7s ease forwards;
}


@keyframes navItemEffect {
    0%{
        width: 0%;
        height: 0%;
    }
    50%{
        width: 100%;
        height: 0;
    }
    100%{
        width: 100%;
        height: 100%;
    }
}