.navRes-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    border-bottom: 1px solid var(--global-gray2);
    background-color: var(--global-primary-color);
    z-index: 100;
}

.navRes-logo{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navRes-logo img{
    width: 100%;
}

.navRes-navIcon i{
    color: var(--global-secondary-color);
    font-size: 2rem;
}
