.sectionTitle{
    padding: 15px;
    margin-left: 25px;
    padding-top: 25px;
}


.sectionTitle h3{
    color: var(--global-text_color);
    letter-spacing: 10px;
    position: relative;
    width: fit-content;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.sectionTitle h3::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--global-secondary-color);
    transition: .5s;
}

.sectionTitle h3:hover::before{
    width: 100%;
    transition: .5s;
}