.contact-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
}

#contact{
    position: relative;
}


.contact-form_container{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-email_img{
    width: 50%;
    display: flex;
    justify-content: center;
}

.contact-email_img img{
    width: 100%;
    height: 100%;
}

.contact-form_container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}

.contact-form_container form input,
.contact-form_container form textarea{
    background-color: transparent;
    padding: 10px 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--global-input_border-color);
    resize: none;
    font-size: 1rem;
    color: var(--global-text_color);
}

.contact-form_container form input::placeholder,
.contact-form_container form textarea::placeholder{
    color: var(--global-input_placeholder-color);
    font-size: 1rem;
}

.contact-form_container form input:focus,
.contact-form_container form textarea:focus{
    border-bottom: 1px solid var(--global-tertiary-color);
    transition: border .3s linear;
    outline: none;
}

.contact-form_container form button{
    display: block;
    width: 150px;
    margin: auto;
    margin-top: 1rem;
    border-radius: 15px;
    padding: 5px;
    border: none;
    box-shadow: 0 0 1px 1px var(--global-tertiary-color);
    cursor: pointer;
    transition: background .5s, color .5s;
    color: #fff;
    font-size: 1rem;
    background-color: var(--global-tertiary-color);
}

.contact-form_container form button:focus{
    outline: none;
}

.contact-form_container form button:hover{
    background-color: transparent;
    color: var(--global-inverse-color);
    transition: .5s;
}

.msg_validation{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: .5s;
    background-color: rgba(255, 255, 255, 0.288);
}

.msg_validation .msg_validation-container{
    color: #fff;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}
.msg_success{
    background-color: var(--global-succesfully);
}
.msg_error{
    background-color: var(--global-error);
}

.msg_validation .msg_validation-container .msg_validation-button{
    display: flex;
    justify-content: flex-end;
    margin-left: 15px;
}

.msg_validation-button_btn{
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: .5s;
}
.msg_btn-success{
    color: var(--global-succesfully);
}
.msg_btn-error{
    color: var(--global-error);
}

.msg_validation-button_btn:hover{
    border: 1px solid #fff;
    color: #fff;
    transition: .5s;
    background-color: transparent;
}
.errorInput{
    border-bottom: 1px solid var(--global-error) !important;
}


@media screen and (min-width: 780px){
    .contact-container{
        width: 90%;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 0;
        flex-wrap: wrap;
    }
    
    .contact-form_container{
        width: 50%;
        height: 90vh;
        padding: 1rem 0;
        margin: 0;
    }

    .contact-email_img{
        width: 35%;
    }
    
    .contact-email_img img{
        width: 100%;
        height: 100%;
    }

    .contact-form_container form{
        width: 80%;
    }

    .socialMedia-container_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .socialMedia-svg_container{
        margin-bottom: 3rem;
    }

    .socialMedia-svg_container img{
        width: 100%;
        height: 100%;
    }

}