.contact-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
}

.contact-email_img{
    width: 50%;
    display: flex;
    justify-content: center;
}

.contact-email_img img{
    width: 100%;
}

.contact-form_container{
    width: 100%;
    margin-top: 1rem;
}

.contact-form_container form{
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.contact-form_container form input,
.contact-form_container form textarea{
    background-color: transparent;
    padding: 10px 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--global-gray3);
    resize: none;
    font-size: 1rem;
}

.contact-form_container form input::placeholder,
.contact-form_container form textarea::placeholder{
    color: var(--global-gray2);
    font-size: 1rem;
}

.contact-form_container form input:focus,
.contact-form_container form textarea:focus{
    border-bottom: 1px solid var(--global-tertiary-color);
    transition: border .3s linear;
    outline: none;
}



.contact-form_container form button{
    display: block;
    width: 150px;
    margin: auto;
    margin-top: 15px;
    border-radius: 15px;
    padding: 5px;
    border: none;
    box-shadow: 0 0 1px 1px var(--global-tertiary-color);
    cursor: pointer;
    transition: background .3s, color .3s;
    color: #fff;
    font-size: 1rem;
    background-color: var(--global-tertiary-color);
}

.contact-form_container form button:focus{
    outline: none;
}

.contact-form_container form button:hover{
    background-color: transparent;
    color: var(--global-inverse-color);
    transition: .3s;
}


/* ///////////////////////////////// */

.socialMedia-container{
    width: 98%;
    margin: auto;
    margin-bottom: 1rem;
    height: min-content;
}

.redes_sociales{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes_sociales ul{
    position: relative;
    display: flex;
    z-index: 2;
}

.redes_sociales ul li{
    position: relative;
    margin: 5px;
}

.redes_sociales ul li a{
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--global-inverse-color);
    font-size: 2em ;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.4);
    border-right: 1px solid rgba(255,255,255,.4);
    border-bottom: 1px solid rgba(255,255,255,.4);
    box-shadow: 0 5px 45px rgba(0,0,0,0.1);
    backdrop-filter: blur(2px);
    transition: 0.5s;
    overflow: hidden;
    background-color: var(--global-gray);
}

.redes_sociales ul li a:hover{
    transform: translateY(-20px);
}


.redes_sociales ul li a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    background: rgba(255,255,255,0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 1s;

}

.redes_sociales ul li a:hover::before{
    transform: skewX(45deg) translateX(-150px);
}