.header-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.header-present_box{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--global-text_color);
}

.header-present_box .header-text{
    color: var(--main-text-color);
}

.header-present_box .header-text h3{
    font-size: 2rem;
}

.header-present_box .header-text h3 span{
    color: var(--global-secondary-color);
}

.header-present_box .header-text p{
    font-size: 1.5rem;
    margin: 0;
}

.header-present_box .header-btn{
    background-color: var(--global-secondary-color);
    padding: 10px 15px;
    border-radius: 25px;
    margin-top: 20px;
    color: var(--global-primary-color);
    font-size: 1rem;
}

.header-image{
    margin-top: 10px;
}

@media screen and (min-width: 780px){
    
}