.header-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5rem;
    position: relative;
}

.mouse{
    position: absolute;
    height: 55px;
    width: 40px;
    background-image: radial-gradient(circle at 50% -20.71%, #d7c35d 0, #deba54 8.33%, #e4b04d 16.67%, #e9a546 25%, #ed9841 33.33%, #f0893e 41.67%, #f2793c 50%, #f3673d 58.33%, #f35542 66.67%, #f34249 75%, #f22b52 83.33%, #f0065d 91.67%, #ec0069 100%);    border-radius: 50%;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    animation: mouse 1s both infinite ease-out;
}

.mouse::after{
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;
    content: '';
    width: 3px;
    height: 30%;
    background-color: #000;
}
.mouse::before{
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    margin: auto;
    content: '';
    width: 1px;
    height: 30%;
    background-color: #000;
}

.header-present_box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--global-text_color);
    z-index: 10;
}

.header-present_box .header-text {
    color: var(--main-text-color);
}

.header-present_box .header-text h3 {
    font-size: 2rem;
}

.header-present_box .header-text h3 span {
    color: var(--global-secondary-color);
}

.header-present_box .header-text p {
    font-size: 1.5rem;
    margin: 0;
}

.header-present_box .header-btn {
    box-sizing: border-box;
    background-color: var(--global-secondary-color);
    border: 1px solid var(--global-secondary-color);
    padding: 10px 15px;
    border-radius: 25px;
    margin-top: 20px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: .5s;
}

.header-present_box .header-btn:hover {
    background-color: transparent;
    color: var(--global-secondary-color);
    transition: .5s;
}

.header-image {
    margin-top: 10px;
}

/* clase animacion */
.btn-jello-horizontal {
    -webkit-animation: jello-horizontal 0.9s 4s infinite both;
    animation: jello-horizontal 5s 4s infinite both;
}

@media screen and (min-width: 780px) {
    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* padding-bottom: 1.5rem; */
        padding: 0 25px;
        padding-bottom: 0;
    }

    .header-present_box {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
    }

    .header-image {
        margin: 0;
        width: 55%;
        z-index: 10;
    }

    .header-image img {
        width: 100%;
    }
}


/* ANIMACIONES */
@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    6% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    8% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    10% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    13% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    15% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    20% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    6% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    8% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    10% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    13% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    15% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    20% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


@keyframes mouse {
    0%{
        /* top: 10px; */
        bottom: 50px;
    }
    
    50%{
        bottom: 42px;
        /* top: 13px; */
    }
    
    100%{
        bottom: 50px;
        /* top: 10px; */
    }
}