.about-sections{
    padding: 8%;
}

/* SectionAbout */


.sectionAbout-container{
    color: var(--main-text-color);
    text-align: center;
    color: var(--global-text_color);
}

.sectionAbout-paragraph{
    font-size: 1rem;
    text-align: justify;
}

.sectionAbout-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.sectionAbout-img img{
    width: 90%;
    border-radius: 25px;
}

.sectionAbout-img .about-svg_img{
    width: 40%;
    border-radius: 0px;
}


@media screen and (min-width: 780px){
    .about-sections{
        padding: 0 4%;
        display: flex;
    }
    
    /* SectionAbout */

    .sectionAbout-container{
        color: var(--global-text_color);
        display: flex;
        align-items: center;
    }
    
    .sectionAbout-paragraph{
        font-size: 1rem;
        text-align: justify;
    }

    .sectionAbout-paragraph p{
        margin-bottom: 5px;
    }

    .sectionAbout-paragraph span{
        color: var(--global-secondary-color);
    }

    .sectionAbout-paragraph span.name{
        color: var(--global-secondary-color);
        font-weight: bold;
    }

    
    .sectionAbout-img{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    
    .sectionAbout-img img{
        width: 100%;
        border-radius: 25px;
    }
    
    .sectionAbout-img .about-svg_img{
        width: 50%;
        border-radius: 0px;
    }
}