.about-sections{
    padding: 8%;
}

/* SectionAbout */


.sectionAbout-container{
    color: var(--global-text_color);
}

.sectionAbout-paragraph p{
    font-size: 1rem;
    text-align: justify;
}

.sectionAbout-paragraph p span{
    color: var(--global-secondary-color);
}

.sectionAbout-paragraph p span.name{
    color: var(--global-secondary-color);
    font-weight: bold;
}

.sectionAbout-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.sectionAbout-img .about-svg_img{
    width: 40%;
    height: 100%;
}


@media screen and (min-width: 780px){
    .about-sections{
        padding: 0 4%;
        display: flex;
    }
    
    /* SectionAbout */

    .sectionAbout-container{
        display: flex;
        align-items: center;
    }

    .sectionAbout-paragraph p{
        margin-bottom: 5px;
    }

    
    .sectionAbout-img{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    
    .sectionAbout-img .about-svg_img{
        width: 50%;
    }
}