.admin-user_data-container{
    min-width: 100%;
    overflow-x: auto;
    min-height: 100vh;
    padding: 15px;
    background-color: var(--dashboard-background);
}

.admin-user_data-title h5{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--global-text_color);
}

.admin-user_data-table-column,
.admin-user_data-table-row ul li{
    display: grid;
    width: 200%;
    grid-template-columns: 5% 20% 25% 20% 20% 5% 5%;
}

.admin-user_data-table-column div,
.admin-user_data-table-row ul li div{
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 5px 0;
}

.admin-user_data-table-column{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--global-primary-color);
    color: var(--global-text_color);
    border-radius: 5px;
    box-shadow: 0 0 1px 0 #ccc;
    font-weight: 500;
}

.admin-user_data-table-column i{
    margin-left: 5px;
    font-size: 1rem;
}

.admin-user_data-table-row ul li{
    color: var(--global-text_color);
    border-bottom: 1px solid var(--global-gray);
}

.admin-user_data-table-row_empty{
    color: var(--global-text_color);
    text-align: center;
}


@media screen and (min-width: 780px){
    .admin-user_data-container{
        overflow-x: hidden;
        min-height: 100%;
        background-color: transparent;
    }

    .admin-user_data-title h5{
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 30px;
    }
    
    .admin-user_data-table-column,
    .admin-user_data-table-row ul li{
        width: 100%;
        grid-template-columns: 5% 20% 30% 20% 15% 5% 5%;
    }
    
    .admin-user_data-table-column div,
    .admin-user_data-table-row ul li div{
        margin: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        padding: 5px 0;
    }
    
    .admin-user_data-table-column{
        margin-top: 0;
        background-color: var(--global-primary-color);
        color: var(--global-text_color);
        border-radius: 5px;
        box-shadow: 0 0 1px 0 #000;
        margin-bottom: 30px;
        font-weight: 500;
    }

    .admin-user_data-table-row ul{
        border-radius: 5px;
        background-color: red;
        background-color: var(--global-primary-color);
        box-shadow: 0 0 1px 0 #000;
    }
    
    .admin-user_data-table-row ul li{
        color: var(--global-text_color);
        border-bottom: 1px solid var(--global-gray);
        padding: 5px 0;
    }

    .admin-user_data-table-column div:nth-child(1),
    .admin-user_data-table-row ul li div:nth-child(1){
        color: var(--global-tertiary-color);
        font-weight: 500;
    }
    .admin-user_data-table-column div:nth-child(7),
    .admin-user_data-table-row ul li div:nth-child(7){
        color: var(--global-error);
    }
    .admin-user_data-table-row ul li div:nth-child(7){
        cursor: pointer;
    }
}

