*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.App{
  background-color: var(--global-primary-color);
  /* height: 100vh; */
  max-width: 100vw;
  overflow-x: hidden;
}

:root{
  --global-primary-color: var(--ligth-primary-color);
  --global-secondary-color: var(--ligth-secondary-color);
  --global-tertiary-color: var(--ligth-tertiary-color);
  --global-inverse-color: var(--dark-primary-color);
  --global-text_color: var(--ligth-primary-text_color);

  --global-gray:#D9D9D9;
  --global-gray2:#8C8C8C;
  --global-gray3:#595959;
  --global-gray4:#363636;

  --global-error:#BF1F1F;
  --global-warning:#F2E205;
  --global-succesfully:#008A6A;

  /* Variables de tema */
  --ligth-primary-color:#fcfcfc;
  --ligth-secondary-color:#e22d19;
  --ligth-tertiary-color:#5172F8;
  --ligth-primary-text_color: #000;

  --dark-primary-color:#404040;
  --dark-secondary-color:#e22d19;
  --dark-tertiary-color:#5172F8;
  --dark-primary-text_color: #fff;
}

.non-selectable {
  -moz-user-select: none; 
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.wow {
  visibility: hidden;
}