.services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--global-text_color);
    padding: 15px 0;
}

/* service */

.service-container{
    margin: 2rem;
}

.service-cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-img img{
    width: 100%;
    height: 100%;
}

.service-cover h5{
    text-align: center;
    margin-top: 5px;
    font-size: 1.5rem;
}

.bigImage-service img{
    width: 70%;
    height: 100%;
}

@media screen and (min-width: 780px){
    .services-container{
        justify-content: space-around;
        padding:0 8%;
    }
    
    .service-container{
        padding: 15px;
        width: 35%;
    }
}